@{
    ViewData["Title"] = "Как это работает";
}

<div class="container py-5">
    <h1 class="text-center mb-5">Как работает каршеринг mycar</h1>

    <div class="row g-4">
        <div class="col-md-3">
            <div class="text-center">
                <div class="feature-icon mx-auto mb-3">1</div>
                <h4>Регистрация</h4>
                <p>Заполните анкету и создайте аккаунт</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <div class="feature-icon mx-auto mb-3">2</div>
                <h4>Найдите авто</h4>
                <p>Выберите ближайший автомобиль на карте</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <div class="feature-icon mx-auto mb-3">3</div>
                <h4>Начните поездку</h4>
                <p>Откройте машину через сайт и поезжайте</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <div class="feature-icon mx-auto mb-3">4</div>
                <h4>Завершите аренду</h4>
                <p>Оставьте авто в любой парковочной зоне</p>
            </div>
        </div>
    </div>
</div>


